@font-face { 
	font-family: ProximaNova-Light;
	src: url(/fonts/ProximaNova-Light.otf);
	font-display: swap;
    font-weight: 300;
}

@font-face { 
	font-family: ProximaNova-Regular;
	src: url(/fonts/ProximaNova-Reg.otf);
	font-display: swap;
    font-weight: 400;
}

@font-face { 
	font-family: ProximaNova-Medium;
	src: url(/fonts/ProximaNova-Medium.otf);
	font-display: swap;
    font-weight: 500;
}

@font-face { 
	font-family: ProximaNova-Bold;
	src: url(/fonts/ProximaNova-Bold.otf);
	font-display: swap;
    font-weight: 700;
}

@font-face { 
	font-family: ProximaNova-Xbold;
	src: url(/fonts/ProximaNova-Xbold.otf);
	font-display: swap;
    font-weight: 800;
}

@font-face { 
	font-family: ProximaNova-Black;
	src: url(/fonts/ProximaNova-Black.otf);
	font-display: swap;
    font-weight: 900;
}
