$blue: #1F65D9;
$lightblue: #475468;
$gray: #cad3e0;
$darkblue: #233148;

@import "nulled.scss";
@import "fontinclude.scss";

.default-animation {
    
    opacity: 0;
    transform: translateY(20px);
  }
  
div {
    box-sizing: border-box;
    display: block;
}
body
{
    font-size: 18px;
    margin: -25px 0 0 0;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    font-weight: 400;
}
.white-text
{
    color: #fff;
}

.service__container
{
    width: 1172px;
    margin: 0 auto; 
    position: relative;
    padding: 180px 0 295px 0;
    overflow: hidden;
    border-left: 1px solid $lightblue;
    border-right: 1px solid $lightblue;
    
      
    &::after
    {
        width: 1px;
        content: " ";
        position: absolute;
        right: 585px;
        top: 0;
        height: 100%;
        background-color: $lightblue;
        z-index: 0;
        
    }
    &::before
    {
        width: 1172px;
        height: 100%;
        content: " ";
        position: absolute;
        top:0;
        left: 0;
        background-image: url(/icons/favicon_primary_white.svg);
        background-repeat: no-repeat;
        opacity: 0.02;
        background-position-x: center;
        background-position-y: -45px;
        background-size: 88%;
        z-index: 0;  
    }

    h1
    {
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        width: 480px;
        position: relative;
        margin: 0 0 25px 0;
        height: 117px;
        font-family: "ProximaNova-Black", Arial, sans-serif;
        letter-spacing: 1.44px;
        z-index: 2;
        
    }
    h1::before
    {
        content: " ";
        background-image: url(/icons/h1.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -50px;
        left: 0;
        height: 29px;
        width: 28px;
    }
    
}
.service__elements
{
    position: relative;
    z-index: 2;
}
.service
{
    background-color: $darkblue;  
    overflow: hidden; 
    z-index: 2;  
}

.service__item
{
    width: 50%;
    float: left;
    padding: 100px 50px 0 100px;
    
    &.default-animation.active:nth-child(1)
    {
        opacity: 1;
        transition-delay: 0.5s;
        transition-duration: 1s;
        transform: translateY(0%);
    }

    &.default-animation.active:nth-child(2)
    {
        opacity: 1;
        transition-delay: 1s;
        transition-duration: 1s;
        transform: translateY(0%);
    }
    
    &.default-animation.active:nth-child(3)
    {
        opacity: 1;
        transition-delay: 1.5s;
        transition-duration: 1s;
        transform: translateY(0%);
    }

    &.default-animation.active:nth-child(4)
    {
        opacity: 1;
        transition-delay: 2s;
        transition-duration: 1s;
        transform: translateY(0%);
    }

    h5
    {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin: 15px 0 50px 0;
        height: 40px;
        font-family: "ProximaNova-Bold", Arial, sans-serif;
        letter-spacing: 0.64px;
    }
}

.service__text
{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: #8796AE;
    font-family: "ProximaNova-Light", Arial, sans-serif;
    
}

.lightpaper
{
    margin-top: -110px;
    margin-bottom: -200px;
    z-index: 5;
    position: relative;
}
.lightpaper__container__title-container
{
    float: left;
    padding-top: 70px;
    width: 230px;
    height: 100%;

    h2
    {
      
        font-family: "ProximaNova-Xbold", Arial, sans-serif;
        font-size: 31.997px;
        line-height: 39px;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
    }
  
    h2::before
    {
        content: " ";
        position: absolute;
        top:5px;
        left:0;
        z-index: 0;
        width: 238px;
        height: 278px;
        background-image: url(/icons/doc.svg);
        background-repeat: no-repeat;
        opacity: 0.1;
        z-index: 0;
    }
}
.lightpaper__container
{
    width: 1172px;
    margin:  0 auto;
    background: $blue;
    position: relative;
    height: 310px;
        
    &::after
    {
        content: " ";
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        width: 100vw;
        background-color: $blue;
    }
}

.lightpaper__text
{
  
    width: 217px;
    height: 102px;
    font-size: 23.9977px;
    line-height: 34px;
    letter-spacing: 0.48px;
    float: left;
    margin: 115px 0 0 65px;

    &.default-animation.active
{
    opacity: 1;
    transition-delay: 1.5s;
    transition-duration: 1s;
    transform: translateY(0%);
}
   
}

.lightpaper__button
{
    
    width: 390px;
    height: 74px;
    background: #FCCF18;
    border: none;
    box-shadow: none;
    margin-top: 55px;
    margin-left: -200px;
    position: relative;
    z-index: 2;    
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #233148;
    box-shadow: inset 0 0 0 0 #333;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    
    &:hover
    {
        color: #fff;
        cursor: pointer;
        box-shadow: inset 0 0 0 50px #333;
        
    }


}
.lightpaper__container__image-container
{
    img
    {
        position: relative;
        top: -73px;
    }
}

.search-product
{
    background-color: #EAEFF5;
    z-index: 2;
    position: relative;
}
.search-product__container
{
    width: 1172px;
    margin: 0 auto; 
    position: relative;
    padding: 415px 0 430px 0;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    
    &::after
    {
        width: 1px;
        content: " ";
        position: absolute;
        right: 585px;
        top: 0;
        height: 100%;
        background-color: $gray;
   
    }

    h2
    {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 900;
        width: 480px;
        height: 117px;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 1.44px;
        text-transform: uppercase;        
        color: $darkblue;
        font-family: "ProximaNova-Black", Arial, sans-serif;
        position: relative;
        z-index: 2;
    }

    h2::before
    {
        content: " ";
        background-image: url(/icons/h1.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -50px;
        left: 0;
        height: 29px;
        width: 28px;
    }
    h2.default-animation.active
    {
        opacity: 1;
        transition-delay: 2s;
        transition-duration: 1s;
        transform: translateY(0%);
    }

}

@media(max-width: 1250px)
{
    .service__container {
        width: 1020px;

        &::after
        {
            right: 509px;
        }
        &::before
        {
            background-position-y: 0;
        }
        h1
        {
            font-size: 40px;
            line-height: 50px;
        }
    }
    .service__item {
        width: 50%;
        float: left;
        padding: 70px 30px 0 70px;
       
        h5
        {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }
    .lightpaper
    {
        margin-bottom: 0;
    }
    .lightpaper__container
    {
        width: 1020px;
    }
    .lightpaper__text
    {
        font-size: 20px;
        margin-left: 30px;
    }
    .lightpaper__container__image-container img {
       
        top: -52px;
        width: 53%;
    }
    .lightpaper__button {
       width: 320px;
    font-size: 18px;
    margin-top: 39px;
    margin-left: -110px;
    }

    .search-product__container
    {
        width: 1020px;

        &::after
        {
            right: 509px;
        }

        h2 {
            font-size: 40px;
            line-height: 50px;
        }

    }
    
}


@media(max-width: 1100px)
{
    .service__container {
        width: 900px;

        &::after
        {
            right: 449px;
        }
        &::before
        {
            background-position-y: 20px;
        }
        h1
        {
            font-size: 38px;
            line-height: 48px;
        }
    }
    .service__item {
        width: 50%;
        float: left;
        padding: 50px 20px 0 50px;
       
        h5
        {
            font-size: 25px;
            margin-bottom: 27px;
        }
    }
    .lightpaper__container
    {
        width: 900px;
        height: 260px;

        h2
        {
            font-size: 28px;
            line-height: 37px;
        }
    }
    .lightpaper__text
    {
        font-size: 18px;
        margin-left: 20px;
    }
    .lightpaper__container__image-container img {
       
        top: -35px;
        width: 48%;
    }
    .lightpaper__button {
       
        width: 320px;
        font-size: 18px;
        margin-top: 39px;
        margin-left: -110px;
    }

    .search-product__container
    {
        width: 900px;

        &::after
        {
            right: 449px;
        }

        h2 {
            font-size: 38px;
            line-height: 48px;
        }

    }
    
}



@media(max-width: 950px)
{
    .service__container {
        width: 700px;

        &::after
        {
            right: 349px;
        }
        &::before
        {
            background-position-y: 0;
            background-size: 130%;
        }
    }
    .service__item {
        width: 100%;
        float: left;
        padding: 50px 0 0 0;
       
        h5
        {
            font-size: 25px;
            margin-bottom: 27px;
        }
    }
    .lightpaper__container__title-container
    {
        float: none;
        padding-top: 195px;
    }
    .lightpaper
    {
        background-color: $blue;
        width: 100%;
        float: left;
    }
    .lightpaper__container
    {
        width: 700px;
        height: initial;


        h2
        {
            font-size: 28px;
            line-height: 37px;
        }
    }
    .lightpaper__text
    {
        font-size: 18px;
        margin: 50px 0 0 0;
        position: relative;
        z-index: 2;
        float: none;
    }
    .lightpaper__container__image-container 
    {
        position: absolute;
        right: -200px;
        top: -41px;

        img {
       
            top: initial;
            width: 85%;
        }
    }
    
    .lightpaper__button {
       
        
        margin-left: 0;
        float: left;
        margin-bottom: -36px;
    }

    .search-product__container
    {
        width: 700px;

        &::after
        {
            right: 349px;
        }

        h2 {
            font-size: 38px;
            line-height: 48px;
        }

    }
    
}


@media(max-width: 750px)
{
    .service__container {
        width: 550px;

        &::after
        {
            right: 274px;
        }
        &::before
        {
            background-position-y: 0;
            background-size: 150%;
        }
    }

    .lightpaper__container
    {
        width: 550px;

    }
    
    .search-product__container
    {
        width: 550px;

        &::after
        {
            right: 274px;
        }

    } 
}


@media(max-width: 600px)
{
    .service__container {
        width: 400px;

        &::after
        {
            right: 199px;
        }
        &::before
        {
            background-position-y: 0;
            background-size: 150%;
        }
        h1
        {
            font-size: 32px;
            line-height: 37px;
        }
    }

    .lightpaper__container
    {
        width: 400px;

        &::after
        {
            display: none;
        }

    }
    .lightpaper__container__title-container h2:before
    {
        left: -35px;
    }
    .lightpaper__container__image-container {
      
        right: -330px;
    }
    .lightpaper__button {

        margin-left: 17px;
        width: 365px;
    }
    
    .search-product__container
    {
        width: 400px;

        &::after
        {
            right: 199px;
        }
        h2
        {
            font-size: 32px;
            line-height: 37px;
        }

    }
    
    
}

@media(max-width: 440px)
{
    
    .service{

        position: relative;
        
        &::before
        {
            width: 100%;
            height: 100%;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(/icons/favicon_primary_white.svg);
            background-repeat: no-repeat;
            opacity: 0.02;
            background-position-x: center;
            background-position-y: -66px;
            background-size: 284%;
            z-index: 0;
        }
    }
    .service__container {
        
        width: 316px;
        padding: 143px 0 75px 0;

        &::after
        {
            right: 157px;
        }
        &::before
        {
            display: none;
        }

        h1
        {
            width: 100%;
            height: initial;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.9px;
            margin-bottom: 10px;
        }
        h1::before
        {
            width: 19px;
            height: 20px;
            background-size: 100%;
            top: -45px;
        }
     
    }
    .service__icon object
    {
        width: 35px;
        height: 35px;
    }
    .service__item
    {
        h5
        {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.44px;
            margin-top: 19px;

        }
    }

    .service__text
    {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .lightpaper
    {
        margin-top: 0;
    }
    .lightpaper__container
    {
        width: 316px;

        h2
        {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.64px;
        }

    }
    .lightpaper__container__title-container
    {
        width: 195px;

        h2::before
        {
            width: 196px;
            height: 229px;
            background-size: 100%;
            left: -30px;
        }
    }
    .lightpaper__text
    {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        width: 195px;
        margin-top: 47px;
    }
  
    .lightpaper__button
    {
        width: 280px;
        height: 54px;
        font-size: 16px;
        margin-bottom: -28px;
    }
 
    .lightpaper__container__image-container {
        
        right: -392px;
        z-index: 3;

        img {
            width: 69%;
        }
    }
    .search-product__container
    {
        width: 316px;
        padding: 137px 0 512px 0;

        &::after
        {
            right: 157px;
        }

        h2
        {
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.9px;
            width: 100%;
        }

        h2::before
        {
            width: 19px;
            height: 20px;
            background-size: 100%;
            top: -45px;
        }
    }

}